@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
    font-family: "Kanit", sans-serif;
}

body {
    min-width: 375px;
}

.index-item .index-item-language {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #fff;
    gap: 1rem;
}

.index-item .index-item-language img {
    border-radius: 10rem;
}

.index-item .index-item-language p {
    min-width: 4rem;
}

.lang-dropdown {
    display: none;
}

.lang-dropdown.show {
    display: block;
    position: absolute;
    top: 45px;
}

.menu-language.show {
    display: block;
}
